.fadein {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.slidein {
    float: right;

    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-right: -30%;
    }

    to {
        margin-right: 0%;
    }
}