body {
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
}

nav {
    border-bottom: 6px solid #4F7DBD;
}

.navbar-brand {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-buttons {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    padding: 10px;
    border-top: 6px solid #4F7DBD;
}

.btn-add-venue {
    background-color: white;
}

.btn-add-venue:hover {
    background-color: #4F7DBD;
    color: white;
}

.scale-1,
.scale-2 {
    transition: all .2s ease-in-out;
}

.scale-1:hover {
    transform: scale(1.1);
}

.scale-2:hover {
    transform: scale(1.2);
}


.copyright {
    background-color: #4F7DBD;

}

.btn-subscribe {
    background-color: #4F7DBD;
    color: white;
}

.btn-social {
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}